.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #314263;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.right-offset-1 {
  margin-right: 8.3%;
}

.button {
  font-size: 75px;
  margin: 20px;
  width: 80px;
  border-radius: 5px;
  font-family: arabtype, Arial, serif;
  font-weight: bold;
  background: lightgoldenrodyellow;
  border: 1px solid #1f441b;
  cursor: pointer;

}

@media screen and (max-width: 768px) {
  .button {
    font-size: 60px;
    width: 60px;
  }
}


.myButton {
  width: 200px;
}
.buttonContainer {
  z-index: 50px;
  border: white;
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'A_Nefel_Adeti';
  src: local('A_Nefel_Adeti'), url(./fonts/A_Nefel_Adeti.ttf) format('opentype');
}


@font-face {
  font-family: 'arabtype';
  src: local('arabtype'), url(./fonts/arabtype.ttf) format('opentype');
}